#root {
  display: grid;
  width: 99vw;
}

#operations-form {
  justify-self: center;
  margin-top: 18%;
}

#header {
  
}

#transactions {
  text-align: center;
  margin-top: 18%;
}

.transItem {
  width: -webkit-fill-available;
}

.transaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
}

.withdrawal {
  background-color: #e80000c9;
}

.deposit {
  background-color: #008a00cc;
}

a{
  text-decoration: none;
  color:black;
}