#root {
  display: grid;
  width: 99vw;
}

.textfield{
  flex:1;
}

.form {
  justify-self: center;
  margin-top: 20vh;
  box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
  border-radius: 5px;
  padding: 0 10px;
  width: 18em;
  
}


#btns-list-item{
  justify-content: center;
}

#divider {
  margin: 8px 0;
}

#header {
  
}

#transactions {
  text-align: center;
  margin-top: 18%;
}

.transItem {
  width: -webkit-fill-available;
}

.transaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
}

.withdrawal {
  background-color: #e80000a6;
}

.deposit {
  background-color: #008a00a1;
}

a{
  text-decoration: none;
  color:black;
}