#header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}

#transactions {
  display: grid;
}

.transaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  justify-items: center;
  align-items: center;
}

.withdrawal {
  background-color: red;
}

.deposit {
  background-color: green;
}

a{
  text-decoration: none;
}