#header {
  display: flex;
}

h4 {
  margin-left: 30px;
}

.transaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.withdrawal {
  background-color: red;
}

.deposit {
  background-color: green;
}