#header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

h4 {
  /* margin-left: 30px; */
}

.transaction {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.withdrawal {
  background-color: red;
}

.deposit {
  background-color: green;
}

a{
  text-decoration: none;
}